development:
  LSOA_WHITELIST: Southwark;Lambeth
  POSTCODES_IO_API_URL: 'http://api.postcodes.io/postcodes'

test:
  LSOA_WHITELIST: Southwark;Lambeth
  POSTCODES_IO_API_URL: 'http://api.postcodes.io/postcodes'